<!DOCTYPE html>
<html  xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <script th:src="@{/js/script.js}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">

    <title>Visualis - About</title>
</head>
<body>
<header>
    <div class="logo-container">
        <a th:href="@{/home}">
            <img th:src="@{/images/logo.png}" alt="Visualis"/>
        </a>
    </div>
    <nav class="nav1">
        <ul>
            <li><a  th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/visualize}">Visualize</a></li>
             <li><a class="active" th:href="@{/about}">About</a></li>
            <li style="margin-left:auto">
                <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                    <!-- User is authenticated -->
                    <a class="lastnav" href="/logout">Logout</a>
                </th:block>
                <th:block th:unless="${#authorization.expression('isAuthenticated()')}">
                    <!-- User is not authenticated -->
                    <a class="lastnav" th:href="@{/login}">Login</a>
                </th:block>
            </li>
        </ul>
    </nav>
</header>
<br>
<br>
<div class="main-container">

    <br>
    <br>
    <br>
    <br>

    <section id="services" class="services">
        <h2>About This Project</h2>

        <br>
        <br>

        <div class="chart-card">
            <div class="chart-top">
                <div>
                    <h3>Created by Fonz Hamilton</h3>
                </div>
                <div>
                    <p>Visualis was created and developed by Fonz for the Per Scholas (powered by TEKSystems)
                        full stack java developer course.</p>
                    <p>This is a case study demonstrating the material learned in the course</p>
                </div>
            </div>

        </div>
        <br>
        <br>
        <br>

    </section>

    <section id="end" class="end">

    </section>
    <br>
    <br>
    <section id="contact" class="contact">
        <p></p>
    </section>

</div>


<footer>
    <nav class="nav1">
        <ul>
            <li><a href="#contact">Contact</a></li>

            <p>&copy; 2023 Visualis. All rights reserved.</p>
        </ul>
    </nav>

</footer>
</body>
</html>
