<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/loginstyles.css}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">

    <script th:src="@{/js/script.js}"></script>

    <title>Visualis - Login</title>
</head>


<body>
<header>
    <div class="logo-container">

        <a th:href="@{/home}">
            <img th:src="@{/images/logo.png}" alt="Visualis"/>
        </a>

    </div>
    <nav class="nav1">
        <ul>
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/visualize}">Visualize</a></li>
            <li><a th:href="@{/about}">About</a></li>
            <li style="margin-left:auto">
                <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                    <!-- User is authenticated -->
                    <a class="actlastnav" href="/logout">Logout</a>
                </th:block>
                <th:block th:unless="${#authorization.expression('isAuthenticated()')}">
                    <!-- User is not authenticated -->
                    <a class="actlastnav" th:href="@{/login}">Login</a>
                </th:block>
            </li>
        </ul>
    </nav>
</header>
<div class="login-main-container">
    <div class="loginhead">
        <h1>Login</h1>
    </div>
    <div class="login-container">
        <div class="loginbox">
            <form  method="post" action="#" th:action="@{/login}">
                <label for="username">Username:</label>
                <input type="text" id="username"  name="username" class="form-control" placeholder="Username" required="" autofocus="">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">

                <button class="btn" type="submit">Sign in</button>

            </form>
            <div class="signupbtnbox">
                <a class="signupbtn" th:href="@{/sign-up}">Sign Up</a>
            </div>



        </div>

    </div>

</div>
<script>
    function validateEmail() {
        const emailInput = document.getElementById("email");
        const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

        if (!emailPattern.test(emailInput.value)) {
            alert("Invalid email address. Please enter a valid email.");
            emailInput.focus();
        }
    }
</script>
</body>
</html>


<!--
<div class="lbox">
    <div class="lllll">
        <form action="process-login.php" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>

        </form>
    </div>

-->
